* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.hero-bar {
  max-width: 60em;
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
}

.hero-header {
  font-weight:bold;
  text-align: center;
  margin-top: 50%;
}

.hero-sub-header {
  text-align: justify;
  margin-left: 3rem;
  margin-right: 3rem;
}

.diagonal-box {
  border-left: 90vw solid transparent;
  border-top: 50vh solid #2e77ff;
  margin-bottom: -50vw;
}

/* #developer {
  color: #ffff
} */