* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.content {
  position: relative;
  z-index: 100;
  background: linear-gradient(-45deg, #eebf52, #89a8f7, #4260ea, #01b3b3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-row.row {
  text-align: center;
}

a.nav-link {
  font-size: 1.5rem;
}
a#header-title.navbar-brand {
  font-size: 3rem;
}
.hero-header {
  font-weight: bold;
  font-size: 4rem;
  margin-top: 100%;
}

#designer {
  text-align: center;
}

#developer {
  text-align: center;
}
.hero-sub-header {
  text-align: justify;
  font-size: 1.5rem;
}

.profile-image {
  width: 80%;
  margin: 1rem;
  border-radius: 50%;
}

.recent-projects.container {
  padding: 1rem;
}

.recent-projects-title {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 5rem;
  padding-right: 1rem;
}

.recent-projects-title :hover {
  color: #2c76ff;
}
.recent-projects-text {
  font-size: 1.2rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  text-align: justify;
}
.recent-projects-link {
  text-decoration: none;
  color: black;
}

.recent-projects-link :hover {
  color: #2c76ff;
}

.about-section {
  margin-bottom: 4rem;
}
.about-row.row {
  justify-content: center;
}

.about-title {
  font-weight: bold;
  font-size: 60px;
}

.about-text {
  text-align: justify;
  margin-right: 3rem;
  font-size: 1.5rem;
}
.skills.container {
  padding-top: 0;
}
.skills {
  justify-content: center;
  font-weight: 600;
}

.skills-row.row {
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}
.icon-col {
  justify-content: center;
  margin: 1rem;
}

.skills-circle {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  display: inline-block;
  margin: 0 0.2rem;
  animation-duration: 2s;
}
.design-projects.container {
  max-width: 60em;
  margin: 0 auto;
  padding-bottom: 0;
}

.project-info.row {
  margin-bottom: 2em;
  padding-top: 2rem;
}

.project-header {
  font-weight: bold;
  font-size: 60px;
}
.projects-title {
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: bold;
}

.projects-text {
  font-size: 1.4rem;
  text-align: justify;
}
.project-icon {
  height: 2rem;
  padding-left: 1.8rem;
}
.project-button.btn.btn-outline-dark {
  font-size: 1.2rem;
  font-weight: bold;
  border: solid 3px;
}
#header-title {
  font-size: 30px;
}

.media-hero-header {
  display: none;
}

.media-hero-sub-header {
  display: none;
}

.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.byte-size-title {
  font-weight: bold;
  font-size: 4rem;
  margin-left: 2rem;
}

.byte-size-title :hover {
  color: #2c76ff;
}
.byte-size-intro {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  font-size: 1.4rem;
}
.byte-size-sub-header {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 2rem;
}
.byte-size-list {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  font-size: 1.4rem;
}
#byte-size-fullscreen {
  width: 32vw;
}
.byte-size-row.row {
  padding: 1rem;
}

#wireframe-header {
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
  padding-left: 2rem;
  font-size: 2rem;
}

.wireframe-image {
  width: 350px;
}
.inner-wireframe-container.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 0;
}
.youtube-container.container {
  position: relative;
}
iframe {
  display: block;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}
.book-club-container {
  justify-content: center;
  display: block;
}
.book-club-title {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding-top: 1rem;
}
.book-club-intro {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  font-size: 1.4rem;
}
.book-club-image-row {
  justify-content: center;
}

.book-club-wireframe-container {
  display: flex;
}
.book-club-inner-wireframe-container {
  display: flex;
}
.book-club-wireframe-image {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 600px;
}
.book-club-text-row {
  justify-content: center;
  padding-top: 1rem;
}
.borderline-title {
  font-weight: bold;
  font-size: 60px;
}
.borderline-title :hover {
  color: #2c76ff;
}
.borderline-intro {
  text-align: justify;
  padding-top: 1rem;
}
.borderline-sub-header {
  font-weight: bold;
  font-size: 30px;
}
.borderline-row {
  padding: 1rem;
}
/* .book-club-app-tabs-container{
  padding: 1rem
} */
.book-club-tabs-container {
  /* display: block;
  justify-content: center; */
}
.book-club-tab-button {
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background: none;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  padding-bottom: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.book-club-tab-button:hover, 
.book-club-tab-button.active {
  background-color: #093586;
  color: #ffff;
}
.book-club-tab-button{
  /* background-color: black; */
  color: black;
  transform: scale(0.9);
}

.tabs {
  display: block;
  justify-content: left;
  padding: 0;
}

/* mobile */
@media screen and (max-width: 1200px) {
  .content {
    position: relative;
    z-index: 100;
    background: linear-gradient(-45deg, #eebf52, #89a8f7, #4260ea, #01b3b3);
    background-size: 100% 100%;
    animation: gradient 10s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .container {
    padding: 0;
  }
  .nav-bar {
    font-size: 0.7rem;
    width: 100%;
    text-align: end;
  }
  #header-title {
    font-size: 1rem;
  }
  .hero-sub-header {
    padding: 0 auto;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    display: none;
  }
  .hero-bar {
    max-width: 100vw;
    margin: 1rem;
  }
  .hero-row {
    justify-content: center;
  }
  .hero-header {
    display: none;
  }
  .media-hero-header {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }
  .media-hero-sub-header {
    font-size: 1.3rem;
    display: block;
    text-align: center;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .recent-projects.container {
    margin: 0 auto;
    padding: 2rem;
    padding-bottom: 2rem;
  }
  .designer-hero-sub-header {
    display: none;
  }
  .developer-hero-sub-header {
    display: none;
  }
  .recent-projects-title {
    font-size: 1.4rem;
  }
  .recent-projects-row {
    justify-content: center;
  }
  .diagonal-box {
    border-left: 100vw solid transparent;
    border-top: 60vh solid #2e77ff;
    position: absolute;
    width: 100vw;
    z-index: 1;
  }
  .about-section {
    max-width: 100vw;
    margin: 2rem;
  }
  .about-row {
    justify-content: center;
  }
  .about-title {
    font-size: 3rem;
    text-align: center;
  }
  .about-text {
    margin: 0 auto;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .skills-circle {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 30px;
    text-align: center;
  }
  .skills.container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-content: center;
    font-weight: 1rem;
  }
  .skills-row.row {
    justify-content: center;
    max-width: 80vw;
    margin: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
    margin-top: 0;
  }
  .project-header {
    font-size: 3rem;
    margin-top: 1rem;
    padding-left: 1.5rem;
  }
  .recent-projects-title {
    margin: 0 auto;
    padding-left: 0 auto;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
  }
  .recent-projects-text {
    font-size: 1rem;
    text-align: justify;
  }

  .UIUX-projects-title {
    margin: 0 auto;
    padding-left: 1.5rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .project-info.row {
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    padding: 0;
  }
  .projects-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .projects-text {
    font-size: 0.8rem;
  }
  .project-button.btn.btn-outline-dark {
    font-size: 0.8rem;
  }
  .project-icon {
    height: 1.5rem;
    padding-left: 1rem;
  }
  .byte-size-row {
    justify-content: center;
    padding-bottom: 1rem;
  }
  .byte-size-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
    margin: 1rem;
  }
  .byte-size-intro {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .byte-size-sub-header {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  .byte-size-list {
    line-height: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: normal;
  }
  span {
    margin-left: -1rem;
  }
  #wireframe-header {
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
  }
  .wireframe-image {
    width: 100px;
  }
  .byte-size-wireframe-row {
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: rem;
    padding-top: 0.2rem;
  }
  iframe {
    display: block;
    width: 80%;
    height: 200px;
    margin: 0 auto;
  }
  .youtube-col.col {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .borderline-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
  }
  .borderline-intro {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .borderline-sub-header {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1rem;
  }
  h2#borderline-header.projects-title {
    padding: 0;
  }
  #borderline-intro {
    padding: 0;
  }
  #borderline-project-type {
    padding: 0;
  }
  img#borderline-image {
    padding-top: 1rem;
  }
  a.nav-link {
    font-size: 1rem;
  }
  a#header-title.navbar-brand {
    font-size: 1.5rem;
  }
  .book-club-inner-wireframe-container.container {
    justify-content: center;
  }
  .book-club-wireframe-image {
    height: 250px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .byte-size-wireframe-row {
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.2rem;
  }
  .book-club-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
    margin: 1rem;
  }
  .book-club-intro {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .book-club-image-row.row {
    align-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .book-club-text-row {
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .book-club-tab-button {
    /* font-weight: bold;
    font-size: 1.2rem;
    margin-left: 1rem; */
  }
  .tabs {
    /* font-weight: bold;
    font-size: 1.2rem;
    margin-left: 1rem; */
  }
}

/* Animation */
.slide-right {
  -webkit-animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6
    both;
  animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6 both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

.slide-left {
  -webkit-animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6 both;
  animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6 both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
