* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.content {
  position: relative;
  z-index: 100;
}

.hero-bar {
  max-width: 60em;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 10em;
  text-align: center;
}

.hero-header {
  font-weight:bold;
  font-size:80px;
  text-align: center;
  margin-top: 20rem;
}

.hero-sub-header {
  text-align: justify;
  margin-right: -60%;
}

.diagonal-box {
  border-left: 100vw solid transparent;
  border-top: 80vh solid #2e77ff;
  position:absolute;
  width: 100vw;
  z-index: 1;
}

.bottom-diagonal-box {
  border-right: 100vw solid transparent;
  border-bottom: 80vh solid #2e77ff;
  margin-top: 30vw;
  position:absolute;
  width: 100vw;
  z-index: 1;
}

/* #developer {
  color: #ffff
} */

.recent-projects {
  margin: 10rem;
  padding: 3rem;
  padding-top: 10rem;
}

.recent-project-image {
 padding: 1rem;
}

.recent-projects-title {
  font-weight: 600;
  font-size: 40px;
}


.about-section {
  max-width: 60em;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 10em;
}

.about-title {
  font-weight: bold;
  font-size: 80px;
}

.about-text {
  text-align: justify;
  margin-right: 3rem
}

.skills {
  margin-top: 10rem;
  margin-bottom: 20rem;
  justify-content: center;
  font-weight: 600 ;
}

.skills-circle {
  border: solid #ffff 5px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-size: 30px;
  text-align: center;
}

#figma {
  background-color: #0C42A6;
}

#adobe {
  background-color: #2260D4;
  line-height: 1.3;
  word-spacing: 60px;
}

#javascript {
  background-color: #2C76FF;
}

#html {
  background-color: #4687FF;
}

#css {
  background-color: #77A7FF;
}

.design-projects {
  max-width: 60em;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 10em;
}

.project-info {
  margin-top: 10em;
  margin-bottom: 10em;
  padding-top: 5rem;
  text-align: justify;
}

.project-header {
  font-weight:bold;
  font-size:80px;
}

.divider {
  height: 6px;
  width: 80%;
  margin-left: 10%;
  background-color: #2C76FF;
}

.developer-project-header {
  font-weight:bold;
  font-size:80px;
  text-align: end;
}

.developer-recent-projects-title {
  font-weight: 600;
  font-size: 40px;
  text-align: end;
}

.developer-projects-title {
  font-weight: 600;
  font-size: 40px;
  text-align: end;
}

.developer-button {
  float: right;
}

#header-title {
  font-size: 30px;
}


/* Burger Menu Stuff  */
.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}